{% extends 'layout.html.twig' %}

{% block body %}
    <br><br><br>
    <h1 style="color:#7f8c8d;">Publications list</h1>
    <a class="btn btn-primary" href="{{ path('publication_new') }}">Create a new publication</a>
    <table class="table">
        <thead>
            <tr>
                <th>Createdat</th>
                <th>Dateexperience</th>
                <th>Title</th>
                <th>City</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publication in publications %}
            <tr>
                <td>{% if publication.createdAt %}{{ publication.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if publication.dateExperience %}{{ publication.dateExperience|date('Y-m-d') }}{% endif %}</td>
                <td>{{ publication.title }}</td>
                <td>{{ publication.city }}</td>
                <td>{% if publication.description | length > 120 %}{{ publication.description |slice(0,120) }}...{% else %}{{ publication.description }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('publication_show', { 'id': publication.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('publication_edit', { 'id': publication.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
