{% extends 'adminLayout.html.twig' %}

{% block body %}
    <h1>Publication</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>État</th>
                <td>{% if publication.enabled %}Activée{% else %}Désactivée{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if publication.createdAt %}{{ publication.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateexperience</th>
                <td>{% if publication.dateExperience %}{{ publication.dateExperience|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ publication.title }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ publication.city }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ publication.description }}</td>
            </tr>
            <tr>
                <th>Photos</th>
                <td>
                    {% for media in publication.medias %}
                        {% if media.extension in ["png","jpg","jpeg"] %}
                            <img src="{{ asset('uploads/' ~ media.path  ) }}">
                        {% else %}
                            <iframe src="{{ asset('uploads/' ~ media.path  ) }}" height="200" width="300"></iframe>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    {% include '@FOSComment/Thread/async.html.twig' with {'id': publication.id } %}

    <br><br>
            <a href="{{ path('admin_publication_index') }}" class="btn " style="padding:15px;margin-right:10px;background-color: white;color:black;float:left;">Back to the list</a>

            <a href="{{ path('admin_publication_disable', { 'id': publication.id }) }}"class="btn " style="padding:15px;margin-right:10px;background-color: orange;color:white;float:left;">Désactiver publication</a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn " style="background-color: red;color:white;float:left;">
            {{ form_end(delete_form) }}
<br>
{% endblock %}
