{% trans_default_domain 'FOSUserBundle' %}
<div class="signUpForm">


{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="formSection">
        <div class="row">
            <div class="form-group col-xs-12">
                <label for="emailAdress" class="control-label">Email Address*</label>
                {{ form_widget(form.email, {'attr': {'class': 'form-control','id':'emailAdress'}}) }}
            </div>
            <div class="form-group col-xs-12">
                <label for="usernames" class="control-label">Username*</label>
                {{ form_widget(form.username, {'attr': {'class': 'form-control','id':'usernames'}}) }}
            </div>

            <div class="form-group col-sm-6 col-xs-12">
                <label for="passwordFirst" class="control-label">Password*</label>
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control','id':'passwordFirst'}}) }}


            </div>
            <div class="form-group col-sm-6 col-xs-12">
                <label for="passwordAgain" class="control-label">Password (re-type)*</label>
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control','id':'passwordAgain'}}) }}
            </div>
        </div>



        <div class="form-group col-xs-12 mb0">
            <button type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}"/>Create Account</button>
        </div>





</div>
</div>
</div>
{{ form_end(form) }}