{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<label for="emailAdress" class="control-label">User Name</label>
    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
<label for="emailAdress" class="control-label">Email Address</label>
     {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
