{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plan</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plan.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ plan.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ plan.description }}</td>
            </tr>
            <tr>
                <th>Datepublication</th>
                <td>{% if plan.datePublication %}{{ plan.datePublication|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ plan.rate }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{% if plan.enabled %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plan_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('plan_edit', { 'id': plan.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
