{% extends 'layout.html.twig' %}
{% block body %}

    <div class="row">
        {% for experience in experiences %}
            <div class="col-md-4" style="">
                <div class="card" >
                    {% if experience.medias[0].extension in ["png","jpg","jpeg"]  %}
                        <img style="height:330px;width:330px;" class="card-img-top" src="{{ asset('uploads/' ~ experience.medias[0].path ) }}" alt="Card image cap">
                    {% else %}
                        <iframe src="{{ asset('uploads/' ~ experience.medias[0].path  ) }}" height="330" width="330"></iframe>
                    {% endif %}
                    <div class="card-body" style="padding:15px;">
                        <h5 class="card-title">{{ experience.title }}</h5>

                        Vote : {% if experience.rate == 0 %}Pas encore{% else %}<span style="font-weight: 600;">{{ experience.rate |number_format(1) }} / 5</span>{% endif %}
                        <p class="card-text">{% if experience.description | length > 85 %}{{ experience.description |slice(0,85) }}...{% else %}{{ experience.description }}{% endif %}</p>
                        <p style="font-size:12px;font-weight: 600;"><span class="glyphicon glyphicon-map-marker"></span> à {{ experience.city }} Ajouté par {{ experience.createdBy.username }}</p>
                        <a href="{{ path('experiences_detailed',{'id' : experience.id }) }}" class="btn btn-primary" style="padding:15px;">Plus de détail</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {{ knp_pagination_render(experiences) }}
        </div>
    </div>


{% endblock %}